.lab-page {
    .header {
        .description {
            color: $color-light-grey;
        }

        .first-part, .second-part {
            color: $color-light-grey;
        }
    }

    .lab {
        .first-part {
            color: $color-light-grey;
        }
    }
}