{% import "macro/title.twig" as title %}
<a 
    class="lab"
    href='{{ getUrl('lab_show', {id: project.getId()}) }}'
    data-section-image='{{ getImagePath("gallery/" ~ project.getGalleryImage()) }}'
>
    {{ title.regular('h2', 'direction-center lab-title', project.getName(), project.getType()) }}
</a>