{% import "macro/title.twig" as title %}
<a href='{{ getUrl('project_show', {id: project.getId()}) }}' class="lab" data-section-image='{{ getImagePath(project.getGalleryImage()) }}'>
    {{ title.regular('h2', 'direction-center lab-title', project.getName(), project.getType()) }}
</a>