.parcours {

    $margin-phone: 10px;
    $margin-desktop: 20px;

    position: relative;
    margin-bottom: 30vh;

    @include min_query(padding-bottom, $regular-page-breakpoint, 8vh);

    .section-title {
        margin-bottom: 7vh;
    }

    &-experience {

        display: flex;

        position: relative;
        margin-bottom: 7vh;
        @include min_query(margin-bottom, $regular-page-breakpoint, 15vh);

        flex-direction: column;

        &>* {
            $number-of-child: 3;
            $starting-delay: 200ms;
            $offset: 300ms;
            @for $i from 1 through $number-of-child {
                &:nth-child(#{$i}) {
                    .parcours-experience {
                        &:before {
                            transition-delay: $starting-delay + $offset * ($i - 1);
                        }
                        &-wrapper {
                            transition-delay: $starting-delay + 200ms + $offset * ($i - 1);
                        }
                    }
                }
            }
        }

        &-title, &-time {
            position: relative;
            color: $color-darkest-grey;

            &:before {
                content: "";
            }
        }

        &-title {
            @include interpolate(font-size, 25rem, 86rem, 1.4rem, 3rem);
            font-weight: 800;
        }

        &-time {
            @include interpolate(font-size, 25rem, 86rem, 1.25rem, 2.8rem);
            font-weight: 200;
        }

        &-description {
            text-indent: 0;
            margin-top: 4vh;

            @media screen and (min-width: $regular-page-breakpoint) {
                position: relative;
                max-width: 500px;
                width: 50%;

                &:before {
                    content: "";
                }
            }
        }

        &-wrapper {
            display: inline-block;
            transition: all 2s cubic-bezier(0,.75,.2,.99);
        }

        &:nth-of-type(2n + 1) {

            align-items: flex-start;

            .parcours-experience {
                &-title, &-time {
                    padding-left: $margin-phone;

                    &:before {
                        left: 0;
                    }
                }

                &-wrapper {
                    transform: translate3d(calc(-100% - 20px),0 ,0)
                }

                @media screen and (min-width: $regular-page-breakpoint) {
                    &-title, &-time, &-description {
                        padding-left: $margin-desktop;
    
                        &:before {
                            left: 0;
                        }
                    }
                }

            }
        }

        &:nth-of-type(2n) {

            align-items: flex-end;

            .parcours-experience {
                &-title, &-time {
                    padding-right: $margin-phone;

                    &:before {
                        right: 0;
                    }
                }

                &-wrapper {
                    transform: translate3d(calc(100% + 20px),0 ,0)
                }

                @media screen and (min-width: $regular-page-breakpoint) {
                    &-title, &-time, &-description {
                        padding-right: $margin-desktop;
    
                        &:before {
                            right: 0;
                        }
                    }
                    
                    &-description {
                        text-align: right;
                    }
                }

            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &-title, &-time, &-description {
            overflow: hidden;

            &:before {
                display: inline-block;
                position: absolute;
                height: 0;
                top: 50%;
                transform: translateY(-50%);
                border-left: 1px solid $color-red;
                @include min_query(border-width, $regular-page-breakpoint, 2px);
                transition: height 500ms ease;
            }
        }
    }

    .background-empty-squares {
        
        position: absolute;
        right: 50px;
        top: 20px;
        z-index: -1;

        @media screen and (min-width: $regular-page-breakpoint) {
            right: 10vw;
            top: 50%;
            transform: translate3d(0,-50%,0);
        }
        
		&-element {

            @extend .absolute-centering;

			position: absolute;
            border: 1px solid $color-light-grey;
            @include min_query(border-width, $regular-page-breakpoint, 2px);
			width: 0;
            height: 0;
			
			transform: translate3d(-50%, -50%, 0) rotate3d(0,0,1,0deg);
			transition: width 800ms ease,
						height 800ms ease,
                        transform 10s cubic-bezier(0,.98,0,.99);

            animation: background-square-rotation-inverse 60s linear infinite;
                        
			&.thick {
				border-width: 5px;
                @include min_query(border-width, $regular-page-breakpoint, 10px);
            }
		}
    }

    .background-squares {

        position: absolute;

        left: 40px;
        top: 20px;

        z-index: -1;

        @media screen and (min-width: $regular-page-breakpoint) {
            left: 10vw;
            top: 50%;
            transform: translate3d(0,-50%,0);
        }

        &-group {

            $square-unit: 13px;

            &-element {
                width: $square-unit;
                height: $square-unit;

                &:nth-of-type(1) {right: $square-unit * 2;}
                &:nth-of-type(2) {left: $square-unit * 2;}
                &:nth-of-type(3) {left: $square-unit * 3;}
                &:nth-of-type(4) {bottom: 0; right: 0;}
                &:nth-of-type(5) {bottom: 0; right: $square-unit;}
                &:nth-of-type(6) {bottom: 0; left: $square-unit;}
                &:nth-of-type(7) {bottom: $square-unit}
                &:nth-of-type(8) {bottom: $square-unit; left: $square-unit;}
                &:nth-of-type(9) {bottom: $square-unit * 2}
                &:nth-of-type(10) {top: $square-unit}
                &:nth-of-type(11) {top: $square-unit; left: $square-unit;}
                &:nth-of-type(12) {top: $square-unit; right: 0;}
                &:nth-of-type(13) {top: $square-unit * 2}
                &:nth-of-type(14) {top: $square-unit * 3; left: $square-unit}
            }

            @media screen and (min-width: $regular-page-breakpoint) {
                $square-unit: 37px;

                &-element {

                    width: $square-unit;
                    height: $square-unit;
    
                    &:nth-of-type(1) {right: $square-unit * 2;}
                    &:nth-of-type(2) {left: $square-unit * 2;}
                    &:nth-of-type(3) {left: $square-unit * 3;}
                    &:nth-of-type(4) {bottom: 0; right: 0;}
                    &:nth-of-type(5) {bottom: 0; right: $square-unit;}
                    &:nth-of-type(6) {bottom: 0; left: $square-unit;}
                    &:nth-of-type(7) {bottom: $square-unit}
                    &:nth-of-type(8) {bottom: $square-unit; left: $square-unit;}
                    &:nth-of-type(9) {bottom: $square-unit * 2}
                    &:nth-of-type(10) {top: $square-unit}
                    &:nth-of-type(11) {top: $square-unit; left: $square-unit;}
                    &:nth-of-type(12) {top: $square-unit; right: 0;}
                    &:nth-of-type(13) {top: $square-unit * 2}
                    &:nth-of-type(14) {top: $square-unit * 3; left: $square-unit}
                }
            }
        }
    }
    
    &:before {
        content: "";

        @extend .absolute-centering;        

        z-index: -3;

        display: inline-block;
        
        width: calc(100vw + 50px);
        height: 110%;

        background-color: $color-lightest-grey;

        transform: translate3d(-50%, -50%, 0) rotate3d(0,0,1,5deg);
        outline: 1px solid transparent;
    }
}

.parcours {

    .active {
        .background-empty-squares-element {
            $size-base: 30px;
            $size-delta: 20px;
            $size-thick-add: 5px;        
            
            &:nth-child(1) {
                width: $size-base;
                height: $size-base;
            }
            &:nth-child(2) {
                width: $size-base + $size-delta;
                height: $size-base + $size-delta;
            }
            &:nth-child(3) {
                width: $size-base + $size-delta * 2 + $size-thick-add;
                height: $size-base + $size-delta * 2 + $size-thick-add;
            }
            
            @media screen and (min-width: $regular-page-breakpoint) {
                $size-base: 130px;
                $size-delta: 48px;
                $size-thick-add: 5px;
                
                &:nth-child(1) {
                width: $size-base;
                height: $size-base;
                }
                &:nth-child(2) {
                    width: $size-base + $size-delta;
                    height: $size-base + $size-delta;
                }
                &:nth-child(3) {
                    width: $size-base + $size-delta * 2 + $size-thick-add;
                    height: $size-base + $size-delta * 2 + $size-thick-add;
                }
            }
        }
        .parcours-experience {
            &-wrapper {
                transform: translate3d(0,0,0)
            }

            &-title, &-time {
                &:before {
                    height: 60%;
                }
            }

            &-description {
                &:before {
                    height: 100%;
                }
            }
        }
    }
}