.scroll-index-0 {
    & .nav {
        @include min_query(--margin-side-buttons-right, $nav-breakpoint, 50vw);
    }
    
    & .scroll {
        @include min_query(left, $nav-breakpoint, 50%);
        @include min_query(transform, $nav-breakpoint, translateX(-50%));
    }

    & .logo {
        @include min_query(display, $nav-breakpoint, none);
    }

    .projets .section, .profil .section {
        @include min_query(top, $regular-page-breakpoint, 120vh);
    }
}

.scroll-index-1 {

    .logo  {        
        $offset-delay: 2000ms;

        // skew animation
        animation-delay: 300ms + $offset-delay;

        & .first-part,
        & .second-part {
            
            // height animation
            animation-delay: $offset-delay;
        }
    
        & .first-part-content {

            // offset animation
            animation-delay: 500ms + $offset-delay;
        }
    
        & .second-part-content {

            // offset animation
            animation-delay: 700ms + $offset-delay;
        }
    }

    .nav-burger {
        $offset-delay: 0;
        transition-delay: $offset-delay;
    }

    .projets .section {
        @include min_query(top, $regular-page-breakpoint, 120vh);
    }
}

.scroll-index-2 {
    .logo .first-part {
        @include min_query(color, $regular-page-breakpoint, $color-darkest-grey);
    }
    
    .profil .section {
        @include min_query(top, $regular-page-breakpoint, -120vh);
    }

    .lab .section {
        @include min_query(top, $regular-page-breakpoint, 60vh);
    }

}

.scroll-index-3 {

    .projets .section {
        @include min_query(top, $regular-page-breakpoint, -120vh);
    }

    & .scroll-line {
        animation: none;
        stroke-dashoffset: -$scroll-line--length;
    }

    & .hidden .nav-burger-line {
        @include min_query(stroke, $regular-page-breakpoint, $color-darkest-grey);
    }
}