.button {
    width: 80%;
    height: 0;
    padding-bottom: calc(80% - 4px);

    position: relative;
    display: inline-block;

    border: 2px solid $color-darkest-grey;
    @include min_query(border-width, $regular-page-breakpoint, 3px);
    transform: rotate3d(0,0,1,-45deg);
    overflow: hidden;

    transition: all 200ms ease;

    &:hover {
        background-color: $color-darkest-grey;
        
        .button-arrow {
            left: 150%;
            top: 150%;
        }

        .button-hover {
            left: 50%;
            top: 50%;
        }
    }


    &-arrow {
        stroke: $color-red;
        @include min_query(stroke-width, $regular-page-breakpoint, 1.5);
        fill: none;
        width: 70%;
        height: 70%;
        transition: all 200ms ease;
    }
    
    body &-hover {
        fill: $color-red;
        width: 90%;
        height: 90%;
        left: -50%;
        top: -50%;
        transition: all 200ms ease;
    }
}

.next-project {

    width: 100%;

    &-before, &-after {
        content: "";
        display: inline-block;
        position: absolute;
        width: 27px;
        height: 27px;
        stroke-width: 2;
        stroke: $color-darkest-grey;
        fill: none;
        top: 50%;
        cursor: pointer;
    }

    &-before {
        left: -30px;
        transform: translate3d(0, -50%, 0) rotate3d(0,0,1, 135deg);
    }

    &-after {
        right: -30px;
        transform: translate3d(0, -50%, 0) rotate3d(0,0,1,-45deg);
    }

    &-progress {
        transform: rotate3d(0,0,1,-90deg);

        &-circle {
            &-idle, &-loading  {
                fill: none;
                stroke-width: 3.5;
                stroke-dasharray: 339.292;
                stroke-dashoffset: 339.292;
            }
            &-idle {
                stroke: $color-darkest-grey;
            }
            &-loading {
                stroke: $color-red;
            }
        }
    }

    &-indicator {
        position: absolute;
    }
}