.continuer {
    width: 80%;
    height: 0;
    padding-bottom: calc(80% - 4px);

    position: relative;
    display: inline-block;

    border: 2px solid $color-darkest-grey;
    @include min_query(border-width, $regular-page-breakpoint, 3px);
    transform: rotate3d(0,0,1,-45deg);
    overflow: hidden;

    transition: all 200ms ease;

    &:hover {
        background-color: $color-darkest-grey;
        
        .continuer-arrow {
            left: 150%;
            top: 150%;
        }

        .continuer-hover {
            opacity: 1;
        }
    }


    &-arrow {
        stroke: $color-red;
        @include min_query(stroke-width, $regular-page-breakpoint, 1.5);
        fill: none;
        width: 70%;
        height: 70%;
        transition: all 200ms ease;
    }
    
    &-hover {
        fill: $color-red;
        opacity: 0;
        width: 90%;
        height: 90%;
    }
}