.button {
    width: 80%;
    height: 0;
    padding-bottom: calc(80% - 4px);

    position: relative;
    display: inline-block;

    border: 2px solid $color-darkest-grey;
    @include min_query(border-width, $regular-page-breakpoint, 3px);
    transform: rotate3d(0,0,1,-45deg);
    overflow: hidden;

    transition: all 200ms ease;

    &:hover {
        background-color: $color-darkest-grey;
        
        .button-arrow {
            left: 150%;
            top: 150%;
        }

        .button-hover {
            left: 50%;
            top: 50%;
        }
    }


    &-arrow {
        stroke: $color-red;
        @include min_query(stroke-width, $regular-page-breakpoint, 1.5);
        fill: none;
        width: 70%;
        height: 70%;
        transition: all 200ms ease;
    }
    
    body &-hover {
        fill: $color-red;
        width: 90%;
        height: 90%;
        left: -50%;
        top: -50%;
        transition: all 200ms ease;
    }
}

.next-project {

    width: 100%;

    &-before, &-after {
        display: inline-block;
        position: absolute;

        top: 50%;
        
        z-index: 1;
        width: 27px;
        height: 27px;

        stroke-width: 2;
        stroke: $color-darkest-grey;
        fill: none;
        opacity: 0;

        transition: left 400ms ease,
                    right 400ms ease,
                    opacity 400ms linear;

        cursor: pointer;
    }

    &-before {
        left: 15px;
        transform: translate3d(0, -50%, 0) rotate3d(0,0,1, 135deg);

        .active & {
            left: -30px;
            opacity: 1;
        }

        &:hover {
            animation: 400ms bounce-left infinite ease alternate;
        }

        @keyframes bounce-left {
            0% {
                transform: translate3d(0, -50%, 0) rotate3d(0,0,1, 135deg);
            }
            100% {
                transform: translate3d(-5px, -50%, 0) rotate3d(0,0,1, 135deg);
            }
        }
    }

    &-after {
        right: 15px;
        transform: translate3d(0, -50%, 0) rotate3d(0,0,1,-45deg);
        transition: right 400ms ease;

        .active & {
            right: -30px;
            opacity: 1;
        }
        
        &:hover {
            animation: 400ms bounce-right infinite ease alternate;
        }

        @keyframes bounce-right {
            0% {
                transform: translate3d(0, -50%, 0) rotate3d(0,0,1, -45deg);
            }
            100% {
                transform: translate3d(5px, -50%, 0) rotate3d(0,0,1, -45deg);
            }
        }
    }

    &-progress {
        transform: rotate3d(0,0,1,-90deg);
        border-radius: 50%;

        &-circle {
            &-idle, &-loading {
                fill: none;
                stroke-width: 3.5;
                stroke-dasharray: 339.292;
                stroke-dashoffset: 339.292;
            }
            &-idle {
                stroke: $color-darkest-grey;
            }
            &-loading {
                stroke: $color-red;
            }
            &-background {
                fill: none;
                stroke-width: 0;
                stroke: $color-darkest-grey;
                // fill: $color-darkest-grey;
                // opacity: 0;
                transition: stroke-width 200ms ease;
            }
        }
        
    }

    &-indicator {
        display: flex;
        position: absolute;
    
        --deg: 35deg;
    
        left: calc(50% - 1.3rem);
        top: calc(50% - 0.275rem);
        
        transform: skew(calc(0deg - var(--deg))) translate3d(-50%, -50%, 0);
        transition: transform 200ms cubic-bezier(.08,.67,.12,0.5),
                    left 200ms cubic-bezier(.08,.67,.12,0.5),
                    right 200ms cubic-bezier(.08,.67,.12,0.5);
    
        &-current,
        &-total {
            display: inline-flex;
            color: $color-darkest-grey;
    
            width: 4.375rem;
            height: 3.8rem;
            font-weight: 300;
            font-size: 3.5rem;
            padding-bottom: 0.5rem;
            
            align-items: center;
            overflow: hidden;
    
            &-content {
                position: relative;
                transform: skew(var(--deg));
                width: 2rem;
                text-align: center;
                transition: transform 200ms cubic-bezier(.08,.67,.12,0.5),
                            left 200ms cubic-bezier(.08,.67,.12,0.5),
                            right 200ms cubic-bezier(.08,.67,.12,0.5);
            }
        }
    
        &-current {
            position: relative;
            justify-content: flex-end;
            text-align: right;

            &:before {
                content: '';
                display: block;
                position: absolute;
                z-index: 1;
                height: 100%;
                top: 0;
                right: 0;
                opacity: 1;
                border-right: 3px solid $color-red;
                transform: skew(var(--deg)) rotate(calc(var(--deg)));
                transition: height 200ms cubic-bezier(.79,.01,.2,.99);
            }
    
            &-content {
                --right: 0.25rem;
                --lateral-offset: 1.55rem;
                right: var(--right);
                bottom: 0.125rem;
            }
        }
    
        &-total {
            justify-content: flex-start;
            
            &-content {
                left: -0.5rem;
                top: 0.125rem;
            }
        }
    }

    &:hover & {

        &-progress-circle-background {
            stroke-width: 120;
        }

        &-indicator {
            top: calc(50% - 0.075rem);
            left: calc(50% + 0.4rem);
            &-current {
                font-size: 3.7rem;
                color: $color-lightest-grey;
                &:before {
                    top: unset;
                    bottom: 0;
                    height: 0;
                }
                &-content {
                    --right: 1.05rem;
                    --lateral-offset: 0;
                }
            }
            &-total {
                &-content {
                    left: -1.4rem;
                }
            }
        }
    }
}