$scroll-line--length: 38;

.scroll {
    --scroll-line--width: 15px;

    @include min_query(opacity, $regular-page-breakpoint, 0);
    @include interpolate(width, 360px, 1024px, 14px, 30px);
    z-index: $z-index-scroll;
    opacity: 1;
    
    left: calc( var(--margin-side-buttons-right) - var(--scroll-line--width)/2 );
    bottom: calc( var(--margin-side-buttons-top) - var(--scroll-line--width)/2 );

    transition: left 500ms cubic-bezier(.64,.01,.27,1),
                transform 500ms cubic-bezier(.64,.01,.27,1),
                opacity 500ms linear;

    &-line {

        stroke: $color-lightest-grey;
        stroke-dasharray: $scroll-line--length;
        stroke-dashoffset: 0;
        
        animation: scroll-line-dash 15s ease-in infinite;

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: 5s + $i * 100ms;
            }
        }
    }
}

@keyframes scroll-line-dash {
	0% {
        stroke-dashoffset: 0;
	}
	4% {
        stroke-dashoffset: - 2 * $scroll-line--length;
    }
    4.01% {
        stroke-dashoffset: 0;
    }
}