@import "_nav";

$scroll-line--length: 38;
$scroll-line-animation: scroll-line-dash 15s ease-in infinite;
$scroll-line-animation--offset: 100ms;

.scroll {
    z-index: $z-index-scroll;

    .accueil-exceptions & {
        @include min_query(left, $nav-breakpoint, 50%);
        @include min_query(transform, $nav-breakpoint, translateX(-50%));
    }

    @include interpolate(width, 360px, 1024px, 14px, 30px);

    --scroll-line--width: 15px;

    left: calc( var(--margin-side-buttons-right) - var(--scroll-line--width)/2 );
    bottom: calc( var(--margin-side-buttons-top) - var(--scroll-line--width)/2 );

    &-line {

        stroke: $color-lightest-grey;
        stroke-dasharray: $scroll-line--length;
        stroke-dashoffset: 0;
        
        animation: $scroll-line-animation;

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                animation-delay: 5s + $i * $scroll-line-animation--offset;
            }
        }
    }
}

@keyframes scroll-line-dash {
	0% {
        stroke-dashoffset: 0;
	}
	4% {
        stroke-dashoffset: - 2 * $scroll-line--length;
    }
    4.01% {
        stroke-dashoffset: 0;
    }
}