.scroll-bar {
    margin-top: 25vh;
    height: 50%;
    width: var(--margin-side-buttons-right);

    @media screen and (min-width: $regular-page-breakpoint) {
        right: 0;
        width: 20px;
    }

    &-section {
        position: relative;
        width: 100%;
        height: calc(25% - 20px);
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;

        &:first-of-type {
            margin-top: 10px;
        }

        &:last-of-type {
            margin-bottom: 10px;
        }

        &:before {
            content: "";
            position: absolute;
            height: calc(100% - 2px);
            width: 2px;
            background-color: $color-lightest-grey;

            transition: all 200ms ease;
            @media screen and (min-width: $regular-page-breakpoint) {
                right: 0;
                width: 4px;
            }
        }
        
        &:hover:before {
            width: 3px;
            @include min_query(width, $regular-page-breakpoint, 6px);
        }
    }
    
    &-current {
        position: absolute;
        height: 25%;
        width: 5px;
        top: 0;
        @media screen and (min-width: $regular-page-breakpoint) {
            right: 0;
            width: 8px;
        }
        background-color: $color-red;

        transition: top 500ms cubic-bezier(.6,0,.4,.99);
    }
}

::-webkit-scrollbar {
    width: 10px;
    // width: 2px;
    // @include min_query(width, $regular-page-breakpoint, 4px);
}

::-webkit-scrollbar-track {
    background-color: $color-lightest-grey;
    border-left: 6px solid $color-darkest-grey;
}

::-webkit-scrollbar-thumb {
    background-color: $color-red;
}