.title, .logo {
    text-transform: uppercase;
    margin: 0;

    & .first-part {
        font-weight: 200;
    }
    & .second-part {
        font-weight: 800;
    }
}

.logo {
    &:hover {
        --deg: -35deg;
    }

    --deg: 35deg;
    --horizontal-offset: -0.3125rem;

    left: calc( var(--margin-side-buttons-right) - 4.375rem);
    top: calc( var(--margin-side-buttons-top) - 1.5625rem);

    @include min_query(left, $nav-breakpoint, calc( var(--margin-side-buttons-right) - 7.5rem));
    @include min_query(--deg, $nav-breakpoint, 45deg);
    @include min_query(--horizontal-offset, $nav-breakpoint, -0.625rem);
    
    transform: skew(calc(0deg - var(--deg)));
    transition: transform 200ms cubic-bezier(.08,.67,.12,1.13);

    animation: logo-skew-enter 200ms 300ms cubic-bezier(.68,.01,.62,1) backwards;

    & .first-part,
    & .second-part {
        display: inline-flex;

        width: 4.375rem;
        height: 3.125rem;
        
        align-items: center;
        overflow: hidden;

        animation: logo-height 300ms cubic-bezier(.68,0,.62,1) backwards;

        @include min_query(width, $nav-breakpoint, 15rem);

        &-content {
            position: relative;
            transform: skew(var(--deg));
            transition: transform 200ms cubic-bezier(.08,.67,.12,1.13);
        }
    }

    & .first-part {
        justify-content: flex-end;
        font-size: 2.56rem;
        text-align: right;
        color: $color-lightest-grey;
        border-right: 2px solid $color-darkest-grey;
        
        @include min_query(border-right, $nav-breakpoint, 3px solid $color-lightest-grey);
        @include min_query(font-size, $nav-breakpoint, 3.4375rem);
        
        &-content {
            right: var(--horizontal-offset);
            bottom: 0.125rem;
            animation: logo-first-part-content 800ms 500ms cubic-bezier(0,.7,0,.99) backwards;
        }
    }

    & .second-part {
        justify-content: flex-start;

        font-size: 2.69rem;
        color: $color-red;
        @include min_query(font-size, $nav-breakpoint, 2.5rem);       
        
        &-content {
            left: var(--horizontal-offset);
            top: 0.125rem;
            animation: logo-second-part-content 800ms 700ms cubic-bezier(0,.7,0,.99) both;

        }
    }

    @keyframes logo-height {
        0% {
            height: 0;
        }
        100% {
            height: 3.125rem;
        }
    }

    @keyframes logo-first-part-content {
        0% {
            right: -20rem;
        }
        100% {
            right: var(--horizontal-offset);
        }
    }

    @keyframes logo-second-part-content {
        0% {
            left: -20rem;
        }
        100% {
            left: var(--horizontal-offset);
        }
    }

    @keyframes logo-skew-enter {
        0% {
            transform: skew(0);
        }
        100% {
            transform: skew(calc(0deg - var(--deg)));
        }
    }
}

.regular-title {

    @include interpolate(font-size, 40rem, 64rem, 2.3rem, 4rem);
    
    position: relative;
    display: inline-flex;
    
    flex-direction: column;
       
    color: $color-darkest-grey;
    
    & .first-part, & .second-part {
        
        position: relative;
        overflow: hidden;
		@include interpolate(height, 40rem, 64rem, 2.8rem, 5rem);
    
        &-content {
            position: relative;
        }
    }

    & .first-part{

        display: inline-block;
        width: 100%;

        &-content {
            bottom: -100%;
            transition: bottom 600ms 500ms cubic-bezier(0,.64,0,1);
            .active & {bottom: 0;}
        }

        &:before {
            content: "";
            
            position: absolute;
            display: inline-block;
            bottom: 0;
            width: 0%;
            border-bottom: $color-red 1px solid;
    
            .active & {width: 85%;}
            transition: width 500ms 400ms cubic-bezier(0,.64,0,1.1);
        }
    }

    & .second-part{
        &-content {
			top: -100%;
			transition: top 600ms 500ms cubic-bezier(0,.64,0,1);
			.active & {top: 0;}
        }
    }

    

    &.direction-right {
        
        margin-right: $padding;

        text-align: right;

        & .first-part:before {
            right: 0;
        }

    }
}