@import "_general.scss";

body {
	position: fixed;
	width: 100%;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

.container {
	
	--margin-top: 0;

	transition: all 500ms ease;

	@for $i from 0 to 4 {
		.scroll-index-#{$i} & {
			--margin-top: calc( -100vh * #{$i} );
			margin-top: var(--margin-top);
		}
	}

	.scroll-tilt-up & {
		animation: tilt-up 500ms cubic-bezier(0,.71,.29,1.16);
	}

	.scroll-tilt-down & {
		animation: tilt-down 500ms cubic-bezier(0,.71,.29,1.16);
	}
	
	@keyframes tilt-up {
		0% {
			margin-top: var(--margin-top);
		}
		50% {
			margin-top: calc(var(--margin-top) + 8vh);
		}
		100% {
			margin-top: var(--margin-top);
		}
	}
	
	@keyframes tilt-down {
		0% {
			margin-top: var(--margin-top);
		}
		50% {
			margin-top: calc(var(--margin-top) - 8vh);
		}
		100% {
			margin-top: var(--margin-top);
		}
	}


	& .page {

		height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
	
		&.accueil {
			align-items: center;
        }

        &.profil {
			align-items: flex-end;
        }
	}
}


.section {
	position: relative;

	margin-bottom: 30px;
	
	width: calc(100% - var(--margin-side-buttons-right) * 1);
	height: calc(100% - var(--margin-side-buttons-top) * 5);
	
	&-background {
		position: absolute;
		overflow: hidden;

		width: 100%;
		height: 100%;

		z-index: -1;
		background-color: $color-lightest-grey;
	}

	&-content {

		display: flex;
		height: 100%;

		padding: $padding 0 $padding $padding;
		margin-right: var(--margin-side-buttons-right);

		flex-direction: column;
		align-items: flex-end;
		justify-content: space-between;

		& .regular-title {
			font-size: 40px;
		}
	}
}

.profil {
	.description {
		text-decoration: none;
		display: flex;
		align-items: center;
		
		&-paragraph {
			font-size: 0.8125rem;
			flex: 1 0px;
		}
		
		.continuer {
			flex: 0 56px;
		}
	}

	.section-background {
		
		.background-strokes {

			position: absolute;
			top: 50%;
			right: 0;

			transform: translate(30%, -50%) rotate3d(0,0,1,-45deg);
			width: 190px;
			
			&-line {

				$scroll-line--length: 120;

				stroke: $color-light-grey;
				stroke-width: 2px;

				stroke-dasharray: $scroll-line--length;
				stroke-dashoffset: 0;
				
				animation: background-line-dash 20s ease-in infinite;
		
				@for $i from 1 through 4 {
					&:nth-child(#{$i}) {
						animation-delay: 10s + $i * 100ms;
					}
				}

				@keyframes background-line-dash {
					0% {
						stroke-dashoffset: 0;
					}
					4% {
						stroke-dashoffset: 2 * $scroll-line--length;
					}
					4.01% {
						stroke-dashoffset: 0;
					}
				}
			}
		}
		
		.photo-profil {
			position: absolute;
			bottom: 0;
			
			transform: translate3d(-40%, 0, 0);
			opacity: .23;
		}
	}
}





@import "_breakpoint_versions.scss";
@import "_button.scss";
@import "_contact.scss";
@import "_nav.scss";
@import "_scroll_icon.scss";
@import "_titles.scss";

@import "first_page/_exceptions.scss";
@import "first_page/_main_title.scss";
@import "_utils_class.scss";