@import "_utils";

$color-red: #fd393c;
$color-lightest-grey: #c5c3c3;
$color-dark-grey: #3f3f3f;
$color-darkest-grey: #333131;

$z-index-menu: 100;
$z-index-side-button: 1000;
$z-index-scroll: 10;
$z-index-canvas: -1000;

$nav-breakpoint: 600px;

//$margin-side-buttons: 40px;

* {
	box-sizing: border-box;
}

:root {
    @include interpolate(--margin-side-buttons-top, 360px, 1024px, 40px, 60px);
    @include interpolate(--margin-side-buttons-right, 360px, 1024px, 40px, 60px);
}

body {
	position: relative;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

canvas {
	background: $color-dark-grey;
	position: fixed;
	display: block;
	
	top: 0;
	z-index: $z-index-canvas;
	width: 100%;
	height: 100vh;
}

.sideButton {
	position: fixed;
	z-index: $z-index-side-button;
}

.page {
	height: 100vh;

	&.accueil {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}
}


@import "_scroll.scss";
@import "_nav.scss";
@import "_contact.scss";
@import "_breakpoint_versions.scss";
@import "_titles.scss";
@import "_utils_class.scss";