<div class="next-project fade-from-left">
    <svg x="0px" y="0px" width="17.3px" height="17.3px" viewbox="0 0 17.3 17.3" class="next-project-before" >
        <polyline class="next-project-before-arrow" points="15.3,0 15.3,15.3 0,15.3 "/>
    </svg>
    <svg class="next-project-progress" viewbox="0 0 120 120">
        <circle class="next-project-progress-circle-background" cx="60" cy="60" r="57" />
        <circle class="next-project-progress-circle-idle" cx="60" cy="60" r="58" />
        <circle class="next-project-progress-circle-loading" cx="60" cy="60" r="58" />
    </svg>
    <svg x="0px" y="0px" width="17.3px" height="17.3px" viewbox="0 0 17.3 17.3" class="next-project-after" >
        <polyline class="next-project-after-arrow" points="15.3,0 15.3,15.3 0,15.3 "/>
    </svg>
    <div class="next-project-indicator">
        <div class="next-project-indicator-current">
            <span class="next-project-indicator-current-content">1</span>
        </div>
        <div class="next-project-indicator-total">
            <span class="next-project-indicator-total-content">{{ projects | length }}</span>
        </div>
    </div>
</div>