
<div class="loading-screen">
    <div class="loading-particles">
        <div class="loading-screen-square absolute-centering"><div class="loading-screen-square-content"></div></div>
        <div class="loading-screen-square absolute-centering"><div class="loading-screen-square-content"></div></div>
        <div class="loading-screen-square absolute-centering"><div class="loading-screen-square-content"></div></div>
        <div class="loading-screen-square absolute-centering"><div class="loading-screen-square-content"></div></div>
        <div class="loading-screen-square absolute-centering"><div class="loading-screen-square-content"></div></div>
    </div>
    <div class="loading-background">
        <div class="loading-screen-wrapper absolute-centering"><div class="loading-screen-background-square"></div></div>
        <div class="loading-screen-wrapper absolute-centering"><div class="loading-screen-background-square"></div></div>
        <div class="loading-screen-wrapper absolute-centering"><div class="loading-screen-background-square"></div></div>
    </div>
</div>