<a href="./" class="logo sideButton">
    <div class="first-part">
        <div class="first-part-content">L<span class="v-m-page">éon</span>
        </div>
    </div><!--
    --><div class="second-part">
        <div class="second-part-content">B<span class="v-m-page">audouin</span>
        </div>
    </div>
</a>