{% import "macro/div.twig" as div %}
{% import "macro/svg.twig" as svg %}
{% extends "layout.twig" %}

{% block pageName %}main-page{% endblock %}

{% set scrollBar = ['to-title', 'to-profil', 'to-projet', 'to-lab'] %}

{% block sideButton %}
    <div class="scroll-bar sideButton">
        <div class="scroll-bar-container">
            {{ div.fromClassArray(scrollBar, 'scroll-bar-section js-hovered-element') }}
        </div>
        <div class="scroll-bar-current-container">
            <div class="scroll-bar-current"></div>
            {{ div.fromClassArray(scrollBar | slice(1), 'scroll-bar-current-hidden') }}
        </div>
    </div>

    <svg class="scroll-icon sideButton js-hovered-element" viewbox="-1 0 15 52" width="16" height="52">
        {% set lines = [
            {from: {x: 1, y: 8}, to: {x: 1, y: 46}},
            {from: {x: 7, y: 17}, to: {x: 7, y: 55}},
            {from: {x: 13, y: 0}, to: {x: 13, y: 38}}
        ] %}
        {{ svg.lines(lines, "scroll-icon-line", 2) }}
    </svg>
{% endblock %}

{% block content %}
    <img id='image' src='/assets/img/profil_1920.png' alt='slt' style='display: none' />
    {% include 'home/greeting.twig' only %}
    {% include 'home/profile.twig' only %}
    {% include 'home/projects.twig' with {projects: projects} only %}
    {% include 'home/lab.twig' with {projects: labs} only %}
{% endblock %}