{% import "macro/div.twig" as div %}
{% extends "layout.twig" %}

{% block head %}
    {% include 'layout/head.twig' with {color: '#333131', title: 'Léon Baudouin'} only %}
{% endblock %}

{% block pageName %}main-page{% endblock %}

{% set scrollBar = ['to-title', 'to-profil', 'to-projet', 'to-lab'] %}

{% block sideButton %}
    <div class="scroll-bar sideButton">
        <div class="scroll-bar-container">
            {{ div.fromClassArray(scrollBar, 'scroll-bar-section js-hovered-element') }}
        </div>
        <div class="scroll-bar-current-container">
            <div class="scroll-bar-current"></div>
            {{ div.fromClassArray(scrollBar | slice(1), 'scroll-bar-current-hidden') }}
        </div>
    </div>
    {% include 'svg/scroll-icon.twig' only %}
{% endblock %}

{% block content %}
    {% include 'home/greeting.twig' only %}
    {% include 'home/profile.twig' only %}
    {% include 'home/projects.twig' with {projects: projects} only %}
    {% include 'home/lab.twig' with {projects: labs} only %}
{% endblock %}
