{% import "macro/title.twig" as title %}
{% import "macro/div.twig" as div %}
{% extends "layout.twig" %}

{% block head %}
    {% include 'layout/head.twig' with {color: '#333131', title: 'Léon Baudouin - Lab'} only %}
{% endblock %}

{% block pageName %}lab-page{% endblock %}
{% block bodyClass %}gallery-page{% endblock %}

{% set scrollBar = ['Title'] | merge(projectsName) %}

{% block sideButton %}
    <div class="scroll-bar sideButton">
        <div class="scroll-bar-container">
            {{ div.fromClassArray(scrollBar, 'scroll-bar-section js-hovered-element') }}
        </div>
        <div class="scroll-bar-current-container">
            <div class="scroll-bar-current"></div>
            {{ div.fromClassArray(scrollBar | slice(1), 'scroll-bar-current-hidden') }}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="spacer"></div>
    <div class="header active">
        {{ title.regular('h1', 'main-title direction-center', 'Le', 'Lab') }}
        <p class="description">
            Bienvenue dans le Lab ! Ici, vous retrouverez des expérimentations ou des plus petits projets.
        </p>
    </div>
    {% for project in projects %}
        {% include "gallery/lab.twig" with {project: project} only %}
    {% endfor %}
    <div class="spacer"></div>
{% endblock %}
