{% import "macro/title.twig" as title %}
{% extends "layout.twig" %}

{% block head %}
    {% include 'layout/head.twig' with {color: '#333131', title: 'Léon Baudouin - Profil'} only %}
{% endblock %}

{% block pageName %}profile-page{% endblock %}

{% block content %}
    <section class="section welcome js-activate-on-scroll">
        {{ title.regular('h1', 'main-title direction-center', 'Mon', 'Profil') }}
    </section>
    {% include "profile/presentation.twig" only %}
    {% include "profile/parcours.twig" with {courses: courses} only %}
    {% include "profile/skills.twig" with {skillSets: skillSets} only %}
    {% include "profile/contact.twig" only %}
{% endblock %}

{% block footer %}
    <div id="contact"></div>
{% endblock %}