{% import "macro/title.twig" as title %}
{% extends "layout.twig" %}

{% block head %}
    {% include 'layout/head.twig' with {color: '#333131', title: 'Léon Baudouin - Projets'} only %}
{% endblock %}

{% block pageName %}projects-page{% endblock %}
{% block bodyClass %}gallery-page{% endblock %}

{% block containerClass %}active{% endblock %}
{% block content %}
    <div class="header">
        {{ title.regular('h1', 'main-title', 'Mes', 'Projets') }}
        <p class="description">
            Bienvenue dans ma gallerie de projet, vous pouvez cliquer sur n'importe quel projet pour en voir les détails !
        </p>
    </div>
    {% for project in projects %}
        {% include "project/cell.twig" with {project: project} only %}
    {% endfor %}
{% endblock %}