{% import "macro/title.twig" as title %}
{% import "macro/div.twig" as div %}
{% extends "layout.twig" %}

{% block head %}
    {% include 'layout/head.twig' with {color: '#333131', title: 'Léon Baudouin - Projets'} only %}
{% endblock %}

{% block pageName %}projects-page{% endblock %}
{% block bodyClass %}gallery-page{% endblock %}

{% set scrollBar = ['Title'] | merge(projectsName) %}

{% block sideButton %}
    <div class="spacer"></div>
    <div class="scroll-bar sideButton">
        <div class="scroll-bar-container">
            {{ div.fromClassArray(scrollBar, 'scroll-bar-section js-hovered-element') }}
        </div>
        <div class="scroll-bar-current-container">
            <div class="scroll-bar-current"></div>
            {{ div.fromClassArray(scrollBar | slice(1), 'scroll-bar-current-hidden') }}
        </div>
    </div>
    <div class="spacer"></div>
{% endblock %}

{% block content %}
    <div class="spacer"></div>
    <div class="header active">
        {{ title.regular('h1', 'main-title direction-center', 'Mes', 'Projets') }}
        <p class="description">
            Bienvenue dans ma galerie de projet, vous pouvez cliquer sur n'importe quel projet pour en voir les détails !
        </p>
    </div>
    {% for project in projects %}
        {% include "gallery/project.twig" with {project: project} only %}
    {% endfor %}
    <div class="spacer"></div>
{% endblock %}
