{% import "macro/title.twig" as title %}
{% extends "layout.twig" %}

{% block head %}
    {% include 'layout/head.twig' with {color: '#333131', title: 'Léon Baudouin - Projets'} only %}
{% endblock %}

{% block pageName %}projects-page{% endblock %}
{% block bodyClass %}gallery-page{% endblock %}

{% block containerClass %}active{% endblock %}
{% set projects = [
    {name: "Glint", skills: [{name: "C#", logo: 'Csharp.svg'}, {name: "Unity", logo: 'Unity.svg'}], type: 'Jeu vidéo', galleryImage: 'GalleryGlint.jpg', highResFeaturedImage: "Glint_1920.png", lowResFeaturedImage: "Glint_800.png", url: "https://www.glintgame.fr", description: 'Glint est mon projet tutoré de 2ème année de DUT MMI. Ce projet réunit une équipe de cinq autres étudiants. Nous nous sommes fixé l’objectif ambitieux de créer un jeu vidéo. La production inclut, la création d’une charte graphique, de sprites, d’animations, d’opérations de communication mais surtout du développement du jeu en lui-même.

J\'ai ainsi assuré le rôle de développeur logiciel. Je me suis formé en autodidacte au C#, au développement Unity, aux principes de POO avancé. Je me suis spécialisé dans le développement de l’Interface Utilisateur. Ça inclut les menus, les modifications des touches de jeu, le HUD, la gestion des textes (changement de langue par exemple). Unity ne m’a pas facilité la tâche, il ne dispose pas encore de beaucoup d’outils pour manipuler l’UI.'},
    {name: "Portrait Chinois", skills: [{name: "Ps", logo: 'PS.svg'}, {name: "Id", logo: 'ID.svg'}, {name: "CSS", logo: 'CSS.svg'}, {name: "JS", logo: 'JS.svg'}, {name: "jQuery", logo: 'jquery.svg'}], type: 'Site Web', galleryImage: 'GalleryPortraitChinois.jpg', highResFeaturedImage: "PortraitChinois_1920.png", lowResFeaturedImage: "PortraitChinois_800.png", url: "./portrait/", description: 'Ce projet est mon premier site web. Il s’agit d’un Portrait Chinois one-page. Le concept, en 2 mots, est d’associer sa personnalité avec un thème. Ce site web est donc construit autour de la formule consacrée “Si j’étais… je serais…”. Ce projet est une première expérience dans le monde du web à la fois en développement et en design.

Durant la conception graphique, la maquette a été revue plusieurs fois avant d’avoir un résultat qui me convient. Chaque “pages“ correspondant à une facette de ma personnalité, j’ai décidé de donner un thème de couleur particulier à chacune d’elles. En ce qui concerne le développement, le site étant one-page, j’ai créé une navigation entièrement encapsulée par du Javascript. J’ai utilisé jQuery en pour manipuler le DOM avec facilité. J’ai aussi ajouté un canvas HTML5, une technologie qui m’a intéressée très tôt.'},
    {name: "CV Interactif", skills: [{name: 'Ps', logo: 'Ps.svg'}, {name: "CSS", logo: 'CSS.svg'}, {name: "Javascript", logo: 'JS.svg'}], type: 'Site Web', galleryImage: 'GalleryCVInteractif.png', highResFeaturedImage: "CV_1920.png", lowResFeaturedImage: "CV_800.png", url: "./cv/", description: 'La fin de la 1ère année de DUT approchant et afin de proposer une alternative au CV traditionnel, j’ai réalisé un CV web. Ce dernier avait un triple enjeu : expliquer mon parcours et mon profil, montrer mes compétences techniques par le code et ma personnalité par le design du site.

J’ai basé le design du site sur des leitmotivs propres au motion design. J’ai pensé chaque élément avec une animation associée. j’ai trouvé intéressant jouer avec la dichotomie technique / créatif avec les couleurs et les polices d’écriture. Ce projet fut une occasion idéale pour m’initier au CSS avancé. J’ai expérimenté les animations complexes, les transform3d, les pseudos-éléments, les variables CSS et parfois même tout ça en même temps.'},
    {name: "Call Me", skills: [{name: "After Effects", logo: 'AE.svg'}, {name: "Illustrator", logo: 'AI.svg'}], type: 'Motion design', galleryImage: 'GalleryCallMe.png', highResFeaturedImage: "CallMe_1920.png", lowResFeaturedImage: "CallMe_800.png", url: "https://www.youtube.com/watch?v=GK1ZqDCcR6Q", description: 'Alors que je fais du Motion Design depuis 2015, début 2017, je me lance sur un projet de Kinetic Typography sur la musique Call Me, de Shinedown. En effet, bien qu’ayant souvent travaillé sur des animations de textes et des animations musicales, je n’aie jamais associé les deux. Cette musique m’a paru idéale car les paroles et le rythme, notamment au sein du générique, m’inspiraient beaucoup.

J’ai donc axé mon animation sur l’opposition vertu / vice, avec l\'utilisation et l’alternance du noir et du blanc. Mais ce parti pris a aussi été une grande contrainte : il fallait donner vie aux paroles qu’en noir et blanc. Pour ce faire, j’ai redoublé de créativité en allant chercher dans le mouvement ou la déconstruction des mots ( “Same” qui se décompose en particules, “Saint” qui émet un halo de lumière,... ).'},
    {name: "Hexagone", skills: [{name: "After Effects", logo: 'AE.svg'}, {name: "Illustrator", logo: 'AI.svg'}], type: 'Motion design', galleryImage: 'GalleryHexagon.jpg', highResFeaturedImage: "Hexagone_1920.png", lowResFeaturedImage: "Hexagone_800.png", url: "https://www.youtube.com/watch?v=THNxEycy0jM", description: 'En décembre 2017, je découvre l’univers du Generative Design avec notamment le compte twitter @BeesAndBombs. Cet univers qui allie mes deux passions, le motion design et le développement, m’a beaucoup inspiré. Je me suis donc lancé dans la conception d’HEXAGONE, ma dernière animation musicale à ce jour.

Pour cette animation, je voulais travailler avec l’environnement 3D de After Effects avec notamment le plug-in Trapcode Particular. Cette animation a aussi nécessité un travail de synesthésie car j’ai essayé d’adapter au mieux les mouvements à l’ambiance et aux subtilités de la musique.'}
] %}
{% block content %}
    <div class="header">
        {{ title.regular('h1', 'main-title', 'Mes', 'Projets') }}
        <p class="description">
            Bienvenue dans ma gallerie de projet, vous pouvez cliquer sur n'importe quel projet pour en voir les détails !
        </p>
    </div>
    {% for project in projects %}
        {% include "project/cell.twig" with {project: project} only %}
    {% endfor %}
{% endblock %}